/* http://qiita.com/cognitom/items/d39d5f19054c8c8fd592 */

@page {
    size: A4 portrait;
    margin: 0;
}

.sheet {
    width: 210mm;
    height: 296mm;
    page-break-after: always;
}

@media screen {
    body {
        background: #eee;
    }
    .sheet {
        background: white; /* 背景を白く */
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); /* ドロップシャドウ */
        margin: 5mm;
    }
}

@media print {
    .hide-on-print {
        display: none;
    }
}

table, th, td {
    border: 0;
}

table {
    width: 100%;
    height: 100%;
}

td.image {
    width: 10%
}

.account {
    width: 200px;
    font-size: x-large;
    text-align: center;
}

.name {
    font-size: small;
    text-align: left;
}

img {
    max-width: 180px;
    max-height: 180px;
}